In [7]:
import pandas as pd
import numpy as np

pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

df = pd.read_csv("subs.csv")
df.head()

,SubmissionID,ReceiptDate,ValidationDate,DeregDate,DeregEffDate,SubType,SubReason,EPAFacilityID,FacName,FacLat,FacLng,FRSLat,FRSLng,FacFTE,FacCompany1,FacCompany2,FacOperator,NAICSCodes,Chemicals,AccidentChemicals,NumAccidents,LatestAccidentDate
0,162,1999-03-29,1999-03-29,NaN,NaN,F,NaN,100000001419,Schuyler Cooperative Assn. Anhydrous North Plant,41.655861,-97.058694,41.65586,-97.05869,4.0,Schuyler Cooperative Assn.,NaN,Schuyler Cooperative Assn.,42291,Ammonia (anhydrous) {46000},NaN,0,NaN
1,163,1999-03-29,1999-03-29,NaN,NaN,F,NaN,100000001437,Schuyler Cooperative Assn. - Richland Location,41.438056,-97.210556,41.43806,-97.21056,4.0,Schuyler Cooperative Assn.,NaN,Schuyler Cooperative Assn.,42291,Ammonia (anhydrous) {400000},NaN,0,NaN
2,166,1999-03-29,1999-03-29,NaN,NaN,F,NaN,100000001473,Oneida Valley Treatment Plant,40.888611,-79.880556,40.88861,-79.88056,9.0,PA-American Water Company,American Water Works Service Company,PA-American Water Company,22131,Chlorine {16000},NaN,0,NaN
3,168,1999-03-29,1999-03-29,2005-03-16,2005-01-01,F,NaN,100000001428,East Brady Pump Station,76.949444,40.990694,40.97750,-79.62170,0.0,PA-Amercian Water Company,American Water Works Servicve Company,PA-American Water Company,22131,Chlorine {8000},NaN,0,NaN
4,169,1999-03-29,1999-04-13,NaN,NaN,F,NaN,100000001446,O'Toole Inc.,41.328500,-91.273694,41.32446,-91.27327,5.0,NaN,NaN,O'Toole Inc.,42291,Ammonia (anhydrous) {153000},NaN,0,NaN

In [8]:
df.SubType.value_counts()

R    57426
F    21118
C    11529
Name: SubType, dtype: int64

In [11]:
df.ReceiptDate.median()

TypeError: could not convert string to float: '1999-03-29'

In [ ]:
df.NumAccidents.value_counts()
df.NumAccidents.hist()